
{% extends "base.html.twig" %}

  
      {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {% endblock %}


      {% block  image1%}
         
         <img  src="/build/f6c075f6fea69ed3f79dcac895b67de4.jpg" height="200" width="414">
      {% endblock %}



      {% block  contenu1%}


        <h1 class="font-weight-light"> About </h1>

        <p>Corona it est une entreprise expérimentée dans le développement web et l’informatique. Avec la participation et la collaboration de ses développeurs web Corona it partage avec vous ses connaissances.</p>


          <div class="social-icons" style="display: flex;justify-content: space-around;">
            
         <a href="">

    <i class="fab fa-gitlab">



  <svg width="1em" style="position: relative;
    margin-left: 34%;"     height="2em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg>
 </i>

<span style="display:block;margin-top:3%;"> +33 06 15 60 63 21 </span>

                </a>

 
                <a href="mailto:coronait@yahoo.com">

                   <i class="fab fa-gitlab">


<svg width="1em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg>

<span style="display:block;margin-top:3%;"> coronait@yahoo.com </span>
                        </i>
                         

                </a>
   



          </div>



        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>


      {% endblock %}




       {% block  contenu2%} 
       		 <h2 class="card-title">Développement</h2>
            <p class="card-text">Concevoir un projet complexe, ce n'est pas seulement mettre en oeuvre une technologie.
             Il s'agit de l'intégrer afin qu'elle soit pratique et nécessaire.</p>
      {% endblock %} 


       {% block  liencontenu2%}
       			
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>

       {% endblock %} 



       {% block  contenu3%} 
       		 <h2 class="card-title">Realization</h2>
            <p class="card-text">Avant de la réalisation du vos projets. Nous sommes ravi de le structurer,organiser et  planifier.En premier lieu, l’analyse des besoins permet d’établir la ou les problématiques et les contraintes. 
            </p>
        {% endblock %} 



        {% block  liencontenu3%} 
                <div class="progress">
                  <div class="bar" style="width: 60%;"></div>
                </div>
          {% endblock %} 


         {% block  contenu4%} 
         	<h2 class="card-title">Suive Client</h2>
            <p class="card-text">Depuis le premier contact avec nos clients jusqu’à la conclusion du développement. 
            Corana it est toujours  à la disposition. Il est important pour notre entreprise puisqu’il nous impacte directement. 
          </p>

          {% endblock %} 

          {% block  liencontenu4%} 
                  <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
           {% endblock %} 





   {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
