<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>

      <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
        {% block stylesheets %}
         {{ encore_entry_link_tags('resume') }}
        {% endblock %}
    </head>



    <body id="page-top">
        {% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Lozano Fernando</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/build/images/profile.ced4a69b.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Lozano
          <span class="text-primary">Fernando</span>
        </h1>
        <div class="subheading mb-5">9 rue de la ville neuve 75002 Paris - France
          <a href="mailto:name@email.com">fernandolozanob@yahoo.com</a>
        </div>
        <p class="lead mb-5">
            Après l’obtencion de mon derniere diplome en informatique et trois annéees d’expérience dans le développement web. Bilingue espangnol-francais.Le maîtrassage des nouvelles technologies et framework sont le résulat.
            Je souhaite mettre en avant mes compentences au sein d’une entreprise.
        </p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Développeur web full-stack</h3>
            <div class="subheading mb-3">Opsomai</div>
            <p> - Trouver des solutions aux problèmes et menaces rencontrés.<br/>
                - Installer et configurer des environnements de virtualisation sous IOS/Windows.<br/>
                - Administrer les bases de données sous Sql/mysql.<br/>
                - Connaissances en langage Java, PHP, html ,xml, css, javascript.<br/>
                - Connaissances en library JQuery, composer , bootstrap.<br/>
                - Définir les contraintes (temps, budget, organisation ).</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Mars 2020 </span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Développeur web symfony</h3>
            <div class="subheading mb-3">Atexo</div>
            <p>- Débutant Symfony 3<br/>
               - Mise en place web service<br/>
               - Participation aux évolutions du projet <br/>
               - Migration Symfony Projet Interne (A-Z)<br/></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2017- 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Développeur web back-end</h3>
            <div class="subheading mb-3">Trend-corner</div>
            <p>- Création d’interfaces dynamiques / statiques web<br/>
               - Participation au Projet web cote back-end et front-end</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2016- 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Stage d’entreprise</h3>
            <div class="subheading mb-3">EXCELCIO</div>
            <p>- Développement de site web php/mysql<br/>
            - Création base données.<br/>
            - Gestion admin .</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Juin 2016 </span>
          </div>
        </div>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Stage d’entreprise</h3>
            <div class="subheading mb-3">NEURONES IT</div>
            <p>-Développement d’application lourde java.<br/>
            - Gestion de données.<br/>
            - Développement Cahier de charge.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Juin 2014 </span>
          </div>
        </div>




      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">National Conservatory of Arts and Crafts</h3>
            <div class="subheading mb-3">Module Programmation Avancée java </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Aston Ecole</h3>
            <div class="subheading mb-3">CONCEPTEUR DÉVELOPPEUR NOUVELLES TECHNOLOGIES</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2017</span>
          </div>
        </div>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Ecole Iris Paris</h3>
            <div class="subheading mb-3">BTS SIO – services informatiques aux organisations</div>
            <p>Solutions logicielles et applications métiers (SLAM)</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2016</span>
          </div>
        </div>


      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Google Analytics Certified Developer</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Mobile Web Specialist - Google Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            2<sup>nd</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - James Buchanan High School - Hackathon 2006</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            3<sup>rd</sup>
            Place - James Buchanan High School - Hackathon 2005</li>
        </ul>
      </div>
    </section>

  </div>


        {% endblock %}




        {% block javascripts %}
            

               {{ encore_entry_script_tags('resume') }}

        {% endblock %}


    </body>



    
</html>
