/*!
 * Start Bootstrap - Resume v5.0.8 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)

 UPDATE TEMPLAITE LAYOUT 
 */


.menucache{
 	position: absolute; 
 	left: 7%;
 	margin:0px;
 	padding: 0px;
}


.showMenu{
	display: block; 
}

.bg-dark {
	background-color: #ff7945 !important;
}


.li-service{
	position: relative;
}


li.item2{
	border-bottom: 1px solid white;
}